p.intro{
  text-align: center;
  font-family: cursive;
  border: solid;
  border-width: medium;
}

h2.intro{
  font-family: cursive;
  font-size: 50px;
  text-decoration: overline;


}

img.intro{
  padding-bottom: 50px;
  padding-top: 50px;
    border-width: medium;
    border: solid;
}

.intro{
  color: red;
  text-align: center;
}
